[submodule "libs/essentia"]
	path = libs/essentia
	url = https://github.com/MTG/essentia
[submodule "libs/FFmpeg"]
	path = libs/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://gitlab.com/libeigen/eigen/
[submodule "libs/deep-classf-runtime-wrappers"]
	path = libs/deep-classf-runtime-wrappers
	url = https://github.com/domenicostefani/deep-classf-runtime-wrappers
