[submodule "libs/essentia"]
	path = EmotionClassificationPlugin/libs/essentia
	url = https://github.com/MTG/essentia
    ignore = dirty
[submodule "libs/FFmpeg"]
	path = EmotionClassificationPlugin/libs/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg
    ignore = dirty
[submodule "libs/eigen"]
	path = EmotionClassificationPlugin/libs/eigen
	url = https://gitlab.com/libeigen/eigen/
    ignore = dirty
[submodule "libs/deep-classf-runtime-wrappers"]
	path = EmotionClassificationPlugin/libs/deep-classf-runtime-wrappers
	url = https://github.com/domenicostefani/deep-classf-runtime-wrappers
    ignore = dirty
[submodule "EmotionClassificationPlugin/libs/choc"]
	path = EmotionClassificationPlugin/libs/choc
	url = https://github.com/Tracktion/choc
    ignore = dirty
