[submodule "EmotionClassificationPlugin/libs/essentia"]
	path = EmotionClassificationPlugin/libs/essentia
	url = https://github.com/MTG/essentia
[submodule "EmotionClassificationPlugin/libs/FFmpeg"]
	path = EmotionClassificationPlugin/libs/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "EmotionClassificationPlugin/libs/eigen"]
	path = EmotionClassificationPlugin/libs/eigen
	url = https://gitlab.com/libeigen/eigen/
[submodule "EmotionClassificationPlugin/libs/deep-classf-runtime-wrappers"]
	path = EmotionClassificationPlugin/libs/deep-classf-runtime-wrappers
	url = https://github.com/domenicostefani/deep-classf-runtime-wrappers
